<form [formGroup]="landFormGroup" (ngSubmit)="landFormSubmit()">
    <ng-template matStepLabel>Select Seasons and Search for Farms</ng-template>
    <div class="land-search">
        <mat-form-field>
            <input matInput placeholder="State, County, Farm #" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-expansion-panel *ngFor="let stateSeason of stateSeasons">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{stateSeason.state}} Opportunities
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list>
                <mat-list-option *ngFor="let season of stateSeason.seasons" (click)="onSeasonSelect(season)">
                    {{season.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-expansion-panel>
    </div>
    <div>
        <button mat-button matStepperNext>Next</button>
    </div>
</form>