<div class="home">

  <ul>
    <li>
      <a routerLink="/reserve">
        <mat-card class="home-card">
          <mat-card-title>Reservations</mat-card-title>
          <mat-card-content>
            Make a new reservation or update an existing one
          </mat-card-content>
        </mat-card>
      </a>
    </li>
    <li>
      <a routerLink="/reserve">
        <mat-card class="home-card">
          <mat-card-title>Harvest Reports</mat-card-title>
          <mat-card-content>
            Enter or review harvest reports
          </mat-card-content>
        </mat-card>
      </a>
    </li>
    <li>
      <a routerLink="/login">
        <mat-card class="home-card">
          <mat-card-title>Logout</mat-card-title>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </a>
    </li>
  </ul>
</div>