<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select Seasons and Search for Farms</ng-template>
      <div class="first-form-group">
        <mat-form-field>
          <input matInput placeholder="State, County or Farm" formControlName="firstCtrl" required>
        </mat-form-field>

        <mat-expansion-panel *ngFor="let stateSeason of stateSeasons">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{stateSeason.state}} Opportunities
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list>
            <mat-list-option *ngFor="let season of stateSeason.seasons"
                (click)="onSelect(season)">
                {{season.state}} - {{season.name}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Choose your Land</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
