<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="landStep">
    <ng-template matStepLabel>Land Search</ng-template>
    <land-search [reservationContainer]="reservationContainer"></land-search>
  </mat-step>
  <mat-step [completed]="landSelectStepCompleted">
    <ng-template matStepLabel>Land Select</ng-template>
    <land-select [reservationContainer]="reservationContainer"></land-select>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
